.form_container{
    width:50%;

}
@media screen and (max-width:100px){
  .form_container{
    width:45%;
  }
}
@media screen and (max-width:70px){
    .form_container{
      width:65%;
    }
  }
  .separator {
    display: flex;
    align-items: center;
    text-align: center;
    margin: 20px 0; 
}

.separator::before,
.separator::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #ccc;
    margin: 0 10px; 
}

.separator span {
    color: #666; 
    white-space: nowrap; 
}
